:root {
  --v-base-color: black;
  --v-apex-color: white;
  --v-primary-color: #6d62e4;
  --v-secondary-color: #c1e3ff;
  --v-tetiary-color: #fa8685;
  --v-primary-color-shade: #d6d4ff;
  --v-primary-color-lighten: #e7e5fa;
  --v-base-color-lighten: #868e9b;
}

.bg-v-apex-color {
  background-color: var(--v-apex-color);
}

.bg-v-base-color {
  background-color: var(--v-base-color);
}

.bg-transparent {
  background: transparent;
}

.bg-v-secondary-color {
  background-color: var(--v-secondary-color);
}

.bg-v-primary-color {
  background-color: var(--v-primary-color);
}

.bg-v-tetiary-color {
  background-color: var(--v-tetiary-color);
}

.bg-v-primary-color--lighten {
  background-color: var(--v-primary-color-lighten);
}

.text-v-apex-color {
  color: var(--v-apex-color);
}

.text-v-base-color {
  color: var(--v-base-color);
}

.text-v-base-color--lighten {
  color: var(--v-base-color-lighten);
}

.text-v-primary-color {
  color: var(--v-primary-color);
}

.text-v-primary-color-shade {
  color: var(--v-primary-color-shade);
}

.text-v-primary-color--lighten {
  color: var(--v-primary-color-lighten);
}

.text-v-tetiary-color {
  color: var(--v-tetiary-color);
}

.text-right {
  text-align: right;
}

.rounded-full {
  border-radius: 100%;
}

.mb-003 {
  margin-bottom: 0.3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

* {
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.fw-bold {
  font-weight: 700;
}

.fw-semibold {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}

.fw-regular {
  font-weight: 400;
}

.cursor-pointer {
  cursor: pointer;
}

.p-relative {
  position: relative;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-10 {
  width: 10%;
}

.w-1-of-3 {
  width: 33.3%;
}

.main {
  min-height: 100vh;
}

.header {
  height: 100px;
}

.header__logo-wrapper {
  width: 100px;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.header__team-options {
  margin-left: 1.5rem;
  margin-right: 2.5rem;
}

.header__search-magnifying-glass {
  left: 7%;
}

.header__search {
  background-image: linear-gradient(to right, #ebf2f8, #f5f6f8);
  background-color: #f5f6f8;
  padding-left: 3rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.6rem;
  height: 2.5rem;
  width: 15rem;
}

.content {
  width: 70%;
}

.content__details {
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 2rem;
  width: calc(100% - 100px);
}

.content__nav {
  width: 100px;
  flex: none;
  padding-top: 8rem;
}

.content__nav-link {
  color: var(--v-base-color);
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.content__nav-link:hover {
  color: var(--v-apex-color);
  background-color: var(--v-base-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  transition: 0.3s all ease;
}

.content__nav-link--active {
  color: var(--v-apex-color);
  background-color: var(--v-base-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.side-bar {
  width: 30%;
  padding: 0 2rem;
}

.side-bar__header-wrapper {
  height: 100px;
}

.side-bar__notification-badge {
  height: 15px;
  width: 15px;
  font-size: 8px;
  right: 0;
}

.side-bar__header-profile-img-holder {
  height: 40px;
  width: 40px;
  background: #ffedef;
  border-radius: 100%;
  margin-right: 0.7rem;
}

.side-bar__header-profile-img {
  height: 80%;
  width: 80%;
}

.side-bar__members {
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.side-bar__members-pics-wrapper {
  margin-bottom: 2.3rem;
  border-radius: 0.5rem;
}

.side-bar__members-pics {
  height: 32px;
  width: 32px;
  background-color: #eee;
}

.side-bar__members-pics--one {
  background-color: #ffedef;
}

.side-bar__members-pics--two {
  left: 20px;
  background-color: #e0ddff;
}

.side-bar__members-pics--three {
  left: 40px;
  background-color: #f4d150;
}

.side-bar__members-pics--four {
  left: 60px;
  background-color: #d2eff3;
}

.side-bar__member-details {
  background: #f3f6fd;
  padding: 1.3rem 1rem;
  border-radius: 0.5rem;
}

.side-bar__member-percentages-wrapper {
  height: 5px;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.side-bar__member-percentage-start {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.side-bar__member-percentage-end {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.side-bar__cta-heading {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.side-bar__cta-context {
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

.side-bar__cta-btn {
  padding: 0.7rem 1.5rem;
  border-radius: 1.5rem;
}

.side-bar__members-legend {
  height: 6px;
  width: 6px;
}

.side-bar__members-category-name {
  margin-left: 9px;
}

.side-bar__members-category-percent {
  margin-left: 15px;
}

.account-intro {
  margin-bottom: 2rem;
}

.account-intro__heading {
  font-size: 2.25rem;
  margin-bottom: 0.3rem;
}

.account-intro__sub-heading {
  font-size: 1.3rem;
}

.account-intro__btn {
  border: 1px solid #eee;
  padding: 0 1.2rem;
  border-radius: 0.7rem;
  height: 2.8rem;
  margin-left: 0.5rem;
}

.account-balance__wrapper {
  height: 140px;
  border-radius: 1rem;
  box-shadow: 4px 6px 40px rgba(109, 98, 228, 0.6);
}

.account-balance__item {
  width: 33.3%;
  padding-left: 2rem;
}

.account-balance__item-img-holder {
  background-color: #d6d4ff;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  flex: none;
}

.account-balance__item-content {
  width: calc(100% - 48px);
  padding-left: 1.5rem;
}

.account-balance__item-content-balance {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  width: 100%;
}

.account-balance__item-content-balance-change {
  background-color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.account-balance__item-content--has-seperator {
  border-right: 1px solid var(--v-primary-color-shade);
}

.account-transaction__heading-wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.account-transaction__heading {
  font-size: 1.2rem;
}

.account-transaction__heading-btn {
  padding: 0.7rem 2.3rem;
  border-radius: 0.8rem;
}

.account-transaction__date {
  border: 1px solid #eee;
  padding: 0.5rem 0;
  border-radius: 0.8rem;
  width: 3.5rem;
}

.account-transaction__seperator {
  height: 300px;
  border-left: 2px dashed #ccc;
  margin-top: 1.3rem;
}

.account-transaction__item {
  height: 80px;
  width: 400px;
  top: 7.5rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.account-transaction__item--dribbble {
  top: 7.5rem;
  background-color: #ffdaeb;
}

.account-transaction__item--figma {
  top: 14rem;
  right: 1.5rem;
}

.account-transaction__item-time {
  margin-top: 0.3rem;
}

.account-transaction__tachometer-section {
  padding-left: 2rem;
}

.account-transaction__tachometer-wrapper {
  box-shadow: 30px 6px 50px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 1rem;
}

.account-transaction__tachometer-header {
  margin-bottom: 1.3rem;
}

.account-transaction__tachometer-footer {
  margin-top: 1.8rem;
}

.account-transaction__tachometer-seperator {
  height: 2rem;
  border: 1px solid #eee;
}
